<h1>Combat Federation Dashboard</h1>
<h3>Dojos:</h3>
<div id = "dojos">
  <ul>
    <% @dojos.each do |dojo| %>
    <li><%= link_to dojo.dojo_name, combat_federation_dojo_path(dojo) %></li>
    <% end %>
  </ul>
</div>

<ul>
  <% Fight.all.each do |fight| %>

    <li><%= fight.winning_combatant.name %> from <%= fight.winning_dojo.dojo_name %> defeated <%= fight.losing_combatant.name %> from <%= fight.losing_dojo.dojo_name %></li>

  <% end %>
</ul>

<%= link_to "Set up a match", new_combat_federation_fight_path %>
