<!DOCTYPE html>
<html>
<head>
  <title>FantasyFighters</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |type, msg| %>
  <%= msg %>
<% end %>

<%= yield %>

<%= link_to("Combat Federation Dashboard", combat_federation_dojos_path) if current_federation? %>
<%= link_to("Logout #{current_dojo.dojo_name}", logout_path, method: :delete) if current_dojo %>


</body>
</html>
